.hero-container {
    margin: 0;
    position: relative;
    height: 100svh;
    width: 100vw;
}

.hero {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    height: 100svh;
    width: 100vw;
    object-fit: cover;
}

.hero img {
    height: 100svh;
    width: 100vw;
    object-fit: cover;
}

.image-overlay {
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 100svh;
    width: 100vw;
    pointer-events: none;
}

.splide__pagination {
    z-index: 100;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: end;
    pointer-events: auto;
}

.splide__pagination li button {
    width: 100px;
    margin-right: 10px;
    border-radius: 0;
    background-color: white;
    opacity: 1;
    transform: scale(1) !important;
}

.splide__pagination li button:hover {
    background-color: #395439;
    opacity: 1;
}

.splide__pagination li button.is-active {
    background-color: #395439 !important;
}