.hero-container {
    margin: 0;
    position: relative;
    height: 100svh;
    width: 100vw;
}

.hero {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    height: 100svh;
    width: 100vw;
    object-fit: cover;
}

.hero img {
    height: 100svh;
    width: 100vw;
    object-fit: cover;
}

.image-overlay {
    background: #ffffff;
    background: linear-gradient(0deg,rgba(255, 255, 255, 0) 60%, rgba(0, 0, 0, 0.6) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 100svh;
    width: 100vw;
}